<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/homeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Chat IA</title>
</head>

<body>
    <header id="chatHeader">
        <h1>Chat IA</h1>
        <button id="reloadButton" title="Limpar chat">
            <i class="fas fa-redo-alt"></i>
        </button>
    </header>
    <div id="messages">
        <!-- MESSAGES WILL BE DISPLAYED HERE -->
    </div>
    
    <div id="loading" class="loading" style="display: none;">Aguarde<span class="dot">.</span><span
            class="dot">.</span><span class="dot">.</span></div>
    <div id="chat">
        <div id="input-container">
            <textarea id="input" placeholder="Digite algo..." rows="4" autocomplete="off" autocorrect="off"
                spellcheck="false"></textarea>
            <button id="sendButton" title="Enviar mensagem">
                <i class="fas fa-arrow-up"></i>
            </button>
            <div id="scrollDownButton" title="Rolar para baixo" style="display: none;">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <script type="module" src="../scripts/actions/homeAction.js"></script>
</body>

</html>